.Profolio {
  overflow: hidden;
  width: 100%;
  min-width: 1280px;
  max-width: 1920px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  * {
    display: flex;
  }

  p, h1 {
    user-select: none;
  }

  .content {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    .profolio-card-area {
      position: relative;
      overflow: visible;
      width: 1000px;
      height: 600px;

      .card {
        position: absolute;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        overflow: hidden;

        h1, h2 {
          z-index: 2;
        }

        .card-img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: auto;
          z-index: 1;
        }

        &.left {
          cursor: default;
          background-color: green;
          top: 20px;
          left: -400px;
          z-index: 1;
          opacity: 0.5;
        }
        &.mid { background-color: yellow; top: 0; left: 0; z-index: 2; opacity: 1; cursor:pointer;}

        &.right {
          cursor: default;
          background-color: blue;
          top: 20px;
          left: 400px;
          z-index: 1;
          opacity: 0.5;
        }
      }
    }

  }
}
