.WelcomeAnime {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  * {
    display: flex;
  }

  .triangleDiv {
    position: absolute;
    align-items: center;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: transparent;

    svg {
      position: absolute;

    }
  }

  .svg-div {
    width: 40%;
    height: 50%;

    svg {
      height: 50%;
    }
  }
}
